.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon:before {
    content: "\00a0";
}

.flag-icon-us {
    background-image: url(../assets/flags/us.svg);
}

.flag-icon-th {
    background-image: url(../assets/flags/th.svg);
}

.element-box {
    width: 61px;
    height: 61px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.2em;
}

.empty-box {
    width: 61px;
    height: 61px;
}

box {
    display: block;
    line-height: 1;
}

number {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
}

symbol {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    width: 2.6em;
    line-height: 0.9;
}

element {
    display: block;
    width: 4.5em;
    line-height: 1;
    font-size: 0.7em;
    font-style: normal;
    overflow: hidden;
}

mass {
    display: block;
    width: 4.456em;
    line-height: 1;
    font-size: 0.7em;
    font-style: normal;
    overflow: hidden;
}
.cl_Nonmetal {
    background: #4dff4d;
}
.cl_AlkaliMetal {
    background: #ffd557;
}
.cl_AlkalineEarthMetal {
    background: #ffff6d;
}
.cl_Metalloid {
    background: #8ce284;
}
.cl_NobleGas {
    background: #87d2ff;
}
.cl_Metal {
    background: #a5e1d2;
}
.cl_TransitionMetal {
    background: #e3c8c8;
}
.cl_Lanthanide {
    background: #ffc6a9;
}
.cl_Actinide {
    background: #f0c6e2;
}
.cl_artificial {
    background: #e5e5e5;
}